/.venv
/1673-Article Text-1500-1-10-20130822.pdf
/187221048_M Hanif Abdurrahman S_Exercise Boolean.docx
/187221048_M Hanif Abdurrahman S_Exercise Boolean.pdf
/187221048_M Hanif Abdurrahman S_Tugas Boolean Retrieval.docx
/187221048_M Hanif Abdurrahman S_Tugas Boolean Retrieval.pdf
/187221048_M Hanif Abdurrahman S_TUGAS INDIVIDU EVALUATION.docx
/187221048_M Hanif Abdurrahman S_TUGAS INDIVIDU EVALUATION.pdf
/187221048_M Hanif Abdurrahman S_Tugas Individu Similarity.docx
/187221048_M Hanif Abdurrahman S_Tugas Individu Similarity.pdf
/187221048_M Hanif Abdurrahman S_Tugas Pengganti Kuliah.docx
/187221048_M Hanif Abdurrahman S_Tugas Pengganti Kuliah.pdf
/Boolean_Retrieval.py
/How the deportation of a Salvadoran man has become a hinge point in US history_5.txt
/How Trump’s presidency can be a colossal failure and stunning success all at once_5.txt
/irbookprint.pdf
/jbi,+N137+FINAL.pdf
/lovins stammer.py
/Screenshot 2025-03-05 201932 - Copy.png
/Screenshot 2025-03-05 201932.png
/template.docx
/The iPhone’s biggest rival may have one advantage in Trump’s tariff war_5.txt
/Tugas Pengganti Kuliah - Search Engine and Unstructured vs Structured Data.pdf
/Tugas Stemming Kelompok.pdf
/Untuk Bantu Pahami Matematika, Anak Perlu Metode Belajar Interaktif_5.txt